1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [3]:
rows = int(input (' enter no rows'))
for i in range(rows):
    for j in range(i):
        print('*',end = '')
    print()                 # this is for moving to next line


        
# i = 2 >>> j - range(2) - 0,1 >> 2 2     
# i = 3 >>> j - range(3) - 0,1,2 >> 3 3 3 
# i = 4 >>> j - range(4) - 0,1,2,3 >>4 4 4 4

 enter no rows5

*
**
***
****

In [9]:
list(range(1))

[0]

In [2]:
for i in range(5):
    print(i,end = '')
print()

01234

**

In [ ]:
****
****
****
****

In [6]:
size = int(input('size of square'))
for i in range(size):
    for j in range(size):
        print('*' , end = '')
    print()

size of square10
**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

SyntaxError: invalid syntax (1863682095.py, line 1)

In [ ]:
*****
*   *
*   *
*****

In [24]:
row = int(input('enter no of row'))
col = int(input('enter no of column'))
for i in range(row):
    for j in range(col):
        if (i == 0 or i == row-1 or j==0 or j == col-1):
            print('*',end = '')
        else:
            print(' ',end = '')
    print()

enter no of row6
enter no of column6
******
*    *
*    *
*    *
*    *
******

In [11]:
for i in range(5):
    for j in range(i):
        print('*',end = '')
    print()
    
    print()

*
*
**
**
***
***
****
****

In [53]:
j = 0

In [56]:
for i in range(5):
    for j in range(i):
        print('*1',end = ' ')

        for j in range(i):
            print('*2',end = ' ')
    
    for k in range(j):
        print('*3',end = '')
    
    print('')
    j = 0

*1 *2
*1 *2 *2 *1 *2 *2 *3
*1 *2 *2 *2 *1 *2 *2 *2 *1 *2 *2 *2 *3*3
*1 *2 *2 *2 *2 *1 *2 *2 *2 *2 *1 *2 *2 *2 *2 *1 *2 *2 *2 *2 *3*3*3

In [58]:
j = 0
for i in range(5):
    for j in range(i):
        print('*1',end = ' ')

        for j in range(i):
            print('*2',end = ' ')
    
    for k in range(j):
        print('*3',end = '')
    
    print('')

*1 *2
*1 *2 *2 *1 *2 *2 *3
*1 *2 *2 *2 *1 *2 *2 *2 *1 *2 *2 *2 *3*3
*1 *2 *2 *2 *2 *1 *2 *2 *2 *2 *1 *2 *2 *2 *2 *1 *2 *2 *2 *2 *3*3*3

In [62]:
rows = 5
for i in range(0,rows):
    for j in range(rows-i,0,-1):
        print(j,'*' ,end = ' ')
    print()

5 * 4 * 3 * 2 * 1 *
4 * 3 * 2 * 1 *
3 * 2 * 1 *
2 * 1 *
1 *

In [70]:
for i in range(5):
    for j in range(i):
        print('*',end = ' ')
    print()
for i in range(5):
    for j in range(5-i,0,-1):
        print('*',end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [82]:

for i in range(5):
    for j in range(5-i,1,-1):
        print(' ',end = '')
    for j in range(i+1):
        print('*',end = '')
    for j in range(i):
        print('*',end ='')
    print()
for i in  range()

    *
   ***
  *****
 *******
*********

In [12]:
print('sum\tit',end = '')
print('kumar')
print()
print('hello')

sum	itkumar

hello

In [13]:
print(r'sumit\nkumar')

sumit\nkumar

In [17]:
for i in range(5):
    for j in range(5):
        print('*',end = '')
    print()

*****
*****
*****
*****
*****

In [24]:
rows = int(input('enter no of rows:'))
cols = int(input('enter no of columns:'))
for i in range(rows):
    for j in range(i):
        print(j,end = '')
    print()

enter no of rows:5
enter no of columns:5

0
01
012
0123

In [23]:
for i in range(5):
    print(i)

0
1
2
3
4

In [29]:
for i in range(rows):
    for j in range(i):
        print('*',end = '')
    print()

*
**
***
****

In [11]:
for i in range(rows):
    for j in range(rows-i-1):
        print(' ',end = '')
    for j in range(i+1):
        print('*',end = '')
    for j in range(i):
        print('*',end = '')
    print()    

rows = 5
for i in range(rows):
    for j in range(i):
        print(' ',end = '')
    for j in range(rows - i):
        print('*',end = '')
    for j in range(rows - i-1):
        print('*',end = '')

    print()

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [10]:
rows = 5
for i in range(rows):
    for j in range(i):
        print(' ',end = '')
    for j in range(rows - i):
        print('*',end = '')
    for j in range(rows - i-1):
        print('*',end = '')

    print()

*********
 *******
  *****
   ***
    *

In [12]:
rows = 5
for i in range(rows):
    for j in range(i):
        print(' ',end = '')
    for j in range(rows - i):
        print('*',end = '')
    for j in range(rows - i-1):
        print('*',end = '')

    print()
for i in range(rows):
    for j in range(rows-i-1):
        print(' ',end = '')
    for j in range(i+1):
        print('*',end = '')
    for j in range(i):
        print('*',end = '')
    print()

*********
 *******
  *****
   ***
    *
    *
   ***
  *****
 *******
*********

In [16]:
for i in range(5):
    for j in range(5):
        if i ==0 or i == 5-1 or j == 0 or j ==5-1:
            print('*',end = '')
        else:
            print(' ',end = '')
    print()

*****
*   *
*   *
*   *
*****

In [8]:
for i in range(5):
    for j in range(i):
        print(' ',end = '')
    for j in range(5-i):
        print('*',end = '')
    for j in range(5-i-1):
        print('*',end = '')
    print()

*********
 *******
  *****
   ***
    *

In [13]:
for i in range(5):
    for j in range(5):
        if i == 0 or i == 5-1 or j == 0 or j ==5 - 1:
            print('*',end = '')
        else:
            print(' ',end = '')
    print()

*****
*   *
*   *
*   *
*****

*****
*   *
*   *
*   *
*****

In [20]:
def test(a,b):
    print('hi')
    print('bye')

In [23]:
test(1,2,3)

TypeError: test() takes 2 positional arguments but 3 were given

In [19]:
test()

hi
bye

In [24]:
print()

In [25]:
len()

TypeError: len() takes exactly one argument (0 given)

In [27]:
def hollow_pattern(row,col):
    for i in range(row):
        for j in range(col):
            if i == 0 or i == row-1:
                print('*',end = '')
            elif j == 0 or j == col - 1:
                print('*',end = '')
            else:
                print(' ',end = '')
        print()

In [28]:
hollow_pattern(3,8)

********
*      *
********

In [29]:
hollow_pattern(10,10)

**********
*        *
*        *
*        *
*        *
*        *
*        *
*        *
*        *
**********

In [30]:
print()

In [40]:
def sum1(a,b):
     print(a+b)

In [41]:
s = sum1(2,2)

4

In [42]:
print(s)
print(type(s))

None
<class 'NoneType'>