**String**

string literals can be defined using either single ('') or double quotes ("")

In [ ]:
# use double quotes when using single quote inside "anil's"
name = "sum'it"
print(name)
print(type(name))

In [ ]:
# doublequotes inside double quotes using triple double quotes
name = """a''n'i"l"""
name

In [ ]:
x = 5
y = 5.8
z = x + y
z
print(x)
print(y)
x
z

In [ ]:
#error 
name = "ani'l"
name

In [ ]:
12  +   12

In [ ]:
'1' + 3.9

In [ ]:
1 + 6

In [ ]:
2.0 + 6

In [ ]:
'sumit' + 10.9

In [ ]:
'sumit' * 5.8

In [ ]:
# comlex
x =6 + 3j
print(type(x))

In [ ]:
x.real

In [ ]:
x.imag

In [ ]:

print('he\bllo')
print('sss')

print('ss    ' +     '5')

In [ ]:
#concatenation - joining strings together
name1 = 'anil '
name2 = 'manish'
name3 = '4'
print(type(name3))
print('sumit' + name1+ name2 + name3 + '1.9')
print(name1,name2,name3)

In [ ]:
name1 = '25'
name20 = '20.6'
subject = 'python'
print(name1+' and '+name20 + subject)

In [ ]:
#data type of a variable
a = 19.0
b = '18'
#d = True
print(type(a))
print(type(b))
print(type(d))

In [ ]:
x = 6+ 9j
x.real

In [ ]:
'3' * '4'

In [ ]:
x = 1
y = 5
len('sumit')

In [ ]:
'sumi'+'3'

operators

In [ ]:
 + - / * % // 2**4

In [ ]:
51/5

In [ ]:
A + b   #  A and B are operands and + is a operator  A+B is a expression

In [ ]:
print('#' * 4)

In [ ]:

s = '109'
z = int(s)
z

In [ ]:
a = 10 + 7
print(a)

In [ ]:
a = ('sumit'*2+' '*3+'1')
b = ('sumit'*2+' '*3+'10')
print(a)
b

In [ ]:
print('anil')

conditional operators 
>
<
>=
<=
==
!=

In [ ]:
0>=2

In [ ]:
1 != 0

In [ ]:
x = 2 + 6.0
type(x)

In [ ]:
'a' == 'a'

**bool**

In [ ]:
2000>=10 and 2<4 and 2==5 and 1== 1

In [ ]:
1>3 or 2>3 or 1<2

**complex**

In [ ]:
not True

In [ ]:
'@' * 7

In [ ]:
x = 10
y = 19
print(id(x))
print(id(y))

In [ ]:
print(len('sumit ')) # length of a string
name = 'sumit '
name[4]

In [ ]:
#is matchess the reference of a variable

In [ ]:
a = 1000
b = 1000
print(a == b)
print(a is b)
print(id(a),'-----',id(b))

In [ ]:
#location of a variable using id()
a ='sumit'
a = 7
a = 2
id(a)
a
x = 6.9
y = int(x)
y
x
int(x)
x
print(id(a))

In [ ]:
r = int(input('enter r:'))
a = int((3.14 * r * r))
print(int(a))
print(a)

**Simple Expression**

**Boolean Evaluation**

boolean expression are created with the keywords and or not and is

In [ ]:
False + False +True

In [ ]:
False and True

In [ ]:
False and False and True

In [ ]:
False or False  or False

In [ ]:
False or False or False or True or False

In [ ]:
a = 7 - 9j
a.imag
b = 'sumit'
b.upper()

**input() to take input from a user**

In [ ]:
l = input('please enter length: ')
b = input('please enter breadth')
area = int(l) * int(b)
print(area)

In [ ]:
x

In [ ]:
'4' * 5

In [ ]:
r = float(input('enter radius:'))
area = int(3.14 * r * r)
print(int(area))

In [ ]:
print(area)

In [ ]:
#type casting

In [ ]:
int('10')

In [ ]:
l = float(input('enter length '))
b = float(input('enter breadth '))
a = int(l * b)
print('the area is ',int(a))
a

In [ ]:
print(a)
print(type(a))

In [ ]:
print(name)
type(name)

In [ ]:
if 1==1 :

In [ ]:
if 10>5:

**Branching** (if/elif/else)

In [ ]:
if 30<20:
    print('discount applied')
    print('hi')
else:
    print('ki')

In [ ]:
if 3<2:
    print('1')
    
elif 6<3:
    print('true1')
elif 7>3:
    print('true2')
if 7==0:
    print('ss')
if 9==9:
    print('sa')

else:
    print('else body')

In [ ]:
if 2>3:
    print('if body')
    print('ddddd')
if 3>1:
    print('weee')
else:
    print('else body')

In [ ]:
a = 6
b =1 
c = 20
if a > b:
    print('he')
elif b > c:
    print('ssss')
elif c>a:
    print('yes')
if a == 1:
    print('she')

In [ ]:
if 10<20:
    if 1==1:
        print('s')
    print('dt')
else:
    print('s1')
if 1==1:
    print('der')
else:
    print('d')

In [ ]:
if 2>1:
    print('s')
if 3<1:
    print('d')
else:
    print('else')

In [ ]:
a = int(input('enter a :'))
b = int(input('enter b :'))
c = int(input('enter c :'))
if a>b and a >c:
    print('a is greatest')
if b>c and b>a :
    print('b greatest')
if c > a and c > b:
    print('c greatest')

In [ ]:
#greates no
a = 17
b = 11
c = 10
if a>b and a>c :
    print("a greater")
if b>a and b>c:
    print("b greater")
else:
    print("c greater")

In [ ]:
#greatest number 
a = int(input('enter 1st no '))
b = int(input('enter 2nd no '))
c = int(input('enter 3rd no '))
if a>b and a>c :
    print('a is the greatest number whic is ',a)
elif b>a and b>c:
    print('b is the greatest number which is ',b)
else:
    print('c is greates which is ',c)

**LIST**

a list represents an ordered, mutable collection of data. you can add remove and change data within a list.

In [ ]:
fruits = ['apple','banana','kiwi','chiku',5,6,7]

In [ ]:
type(fruits)

In [ ]:
type(fruits[2])

In [ ]:
#adds an element at the end of the list
fruits.append('sumit')

In [ ]:
fruits

In [ ]:
fruits.append(3)

In [ ]:
fruits

In [ ]:
fruits.append([1,2,3,4])

In [ ]:
# khin pe add krlo
#fruits.insert(1,['pineapple',3,3,3])
fruits

In [ ]:
fruits = ['app','bann','kiwi',['cup','world',[3,4,'sumit',4,4],'x',2],2.9]

In [ ]:
fruits[3][2].append(99)

In [ ]:
fruits[3][2].remove('sumit')

In [ ]:
fruits

In [ ]:
fruits[3][2].insert(2,'manish')

In [ ]:
fruits

In [ ]:
fruits.pop()

In [ ]:
fruits

In [ ]:
fruits = ['apple','banana',6,'kikwi','chiku',6,6,63,2]

In [ ]:
fruits[3][2].pop(1)

In [ ]:
fruits = ['app', 'ban', 'kiwi', ['w', 'w', [3, 4, 4, 4], 'x', 2]]
fruits

In [ ]:
fruits

In [ ]:
fruits[3].

In [ ]:
fruits

In [ ]:
# remove() - deletes a specified item from a list

In [ ]:
fruits

In [ ]:
x = 'bn'
fruits.remove(x)

In [ ]:
fruits

In [ ]:
fruits[3].remove('w')

In [ ]:
fruits

In [ ]:
len(fruits[3][2])

In [ ]:
X= 'SUMIT'

In [ ]:
x = 10
x.append(2)

In [ ]:
fruits[:]

In [ ]:
fruits.remove(6)

In [ ]:
fruits[:]

In [ ]:
 fruits= [12,3,4]

In [ ]:
fruits.clear() # removes all the elements of the list but structure of list remains intact

In [ ]:
fruits = [2,111,3,2,1,3,4,44,44332]

In [ ]:
fruits.sort(reverse = True)

In [ ]:
fruits

In [ ]:
fruits.append(1)

In [ ]:
l1 = [1,2,3]
l2 = [3,4,5]
l3 = l1 + l2
print(l3)
l1.extend(l2)
l1

In [ ]:
fruits.append([2,2,2])

In [ ]:
x = 'SUMIT'
x

In [ ]:
#concatenating two strings
l1 = ['audi','merceds','baleno','maruti',22 ,34]
l3 = l1 + fruits
print(l3)

In [ ]:
fruits.append(2)

In [ ]:
l1 = ['audi','merceds','baleno','maruti',22 ,34]
print(l1)
fruits1 = ['apples','banana','kiwi','chiku',45,4,[55,55,55],66,7,8,'mango']
l1

In [ ]:

fruits1.append(l1)

In [ ]:
fruits1

In [ ]:
l1 = [1,23]
l2 = ['a','b']

In [ ]:
l1.extend(l2)

In [ ]:
l1 = l1+l2

In [ ]:
l1

In [ ]:
l1

In [ ]:
len(x[3][3])

In [ ]:
x= [1,2,3]
y = 10
x
y
print(x)
y

In [ ]:
fruits

In [ ]:
type(fruits[0])

In [ ]:
fruits = ['apple','banana','kiwi','chiku',66,8,'pineapple']

In [ ]:
fruits[0] = 'sss'

l[starting index:ending(excluding itself):step size]

In [ ]:
fruits

In [ ]:
fruits[1:2000:100]

In [ ]:
name = 'sumit kumar'
name[1:2:]

In [ ]:
fruits[::]

In [ ]:
fruits[3:1:-1]

In [ ]:
fruits

In [ ]:
# use pop() to delete item from a specific index

In [ ]:
fruits.pop()

In [ ]:
fruits

In [ ]:
fruits.pop(1)

In [ ]:
fruits

In [ ]:
# remove() deletes  specified item from the list

In [ ]:
fruits.remove('kikwi')

In [ ]:
fruits1 = [[1,23,3,3,[3,3]],3,3,3]

In [ ]:
fruits1[0]

In [ ]:
fruits1[0].remove('sumit')

In [ ]:
fruits = [1,2,3,6,[['df','sd',4.9],'s','d','o']]

In [ ]:
fruits[4][0][::-1]

In [ ]:
x = [1,2,'su',3]
y = [4,5,6]
x = x+y

In [ ]:
x

In [ ]:
fruits

In [ ]:
print(fruits[1:4:1])
print(fruits[3:1:-1])

# reversing  a list

In [ ]:
#merging two lists
a = 44
a.

In [2]:
l1 = ['apples', 'banana', 'orange']
l2 = ['audi', 'mercedes', 1 , 2,7,8]
l3 = l1 + l2
x = '40000'
print(len(l1))
print(type(l3[0]))
l3
x = list((1,2,4,'usse'))
print(type(l3[:1]))
l3

3
<class 'str'>
<class 'list'>

['apples', 'banana', 'orange', 'audi', 'mercedes', 1, 2, 7, 8]

In [ ]:
l1 = ['apples', 'banana', 'orange']
l2 = ['audi', 'mercedes', 1 , 2,7,8]

In [ ]:
l1.extend(l2)

In [ ]:
l1

In [ ]:
l1 = ['kiwi','apples', 'banana', 'orange']
l1.sort()
l1

In [ ]:
l2 = [ 'c','a','s']
l2.sort()
l2

In [ ]:
[].append(1)

In [ ]:
#number of items in a list
len(l3)

In [ ]:
type(l3)

In [ ]:
#list() to create list
l = list(('sumit',2,3))
type(l)

In [ ]:
name = '10'
int(name)

In [ ]:
# to check if specific item is present in a list or not
thelist = ['apples','K', 'banana','banana',2,3,4]
if 'K' in 'sumit Kumar':
    print('kiwi is present in the list')
else:
    print('no fruit')

In [ ]:

thelist[1] = 'sumit'
thelist

In [ ]:
#append() - adds an element at the end of a list

fruits = [3,3,4,5,6,5]
fruits.append(['sumit','md',22])
fruits[6]

**TYPE CASTING**

In [ ]:
int(float('11.8'))

In [ ]:
length = int(input('enter length'))
breadth = int(input('enter breadth'))
area = float(length * breadth)
print(float(area))
type(area)

In [ ]:
20 * 4

In [ ]:
x = float(2)
x

In [ ]:
x = 333
str(x)

**LOOPS**

In [1]:
print(list(range(1,100,20)))

[1, 21, 41, 61, 81]

In [ ]:
list(range(1,100,20))

In [ ]:
list(range(1,10))

In [ ]:
list(range(10,1,-1))

In [ ]:
#for loop and while loop
range(10)
#0,1,3,4,5,6,7,8,9
range(2,4)
#2,3
range(1,10,2)
#1,3,5,7,9
list(range(1,100,10))

list(range(100,6,-50))

In [6]:
for i in 'sumit':
    print(i)

s
u
m
i
t

In [2]:
a = (10,22)
type(a)

tuple

In [3]:
#range function range(starting point,ending point(exclusive of its own value), step size)
a = list(range(100,1,-100))
a

[100]

In [7]:
a = '#'
for i in range(10):  #initialisation #condition #updation
    print(a)         
    print(i)
print(i)
    
    
# iteration 1 i = 0   
# 2nd iteration i = 1
# 3r d..........range is 9 last value 0f i will be 9

#
0
#
1
#
2
#
3
#
4
#
5
#
6
#
7
#
8
#
9
9

In [4]:
l = [1,2,3,4,'sumit']
for i in range(0,len(l),2):
    print(i)

0
2
4

In [5]:
sum = 0
for i in range(1,10):
    sum = sum + i 
print(sum)

# 1st iteration - i = 0  sum = 0 +0 output sum = 0
# 2nd iter - i = 1 sum = 0+1 = 1 output sum = 1
# 3rd iter - i = 2 sum = 1 + 2 output sum = 3
# 4th iter - i = 3 sum = 3+3 output sum = 6

45

In [ ]:
# 1 sum = 0 + 0 --- 2 sum = 0+1 -----3 sum = 1+2   -----4 sum = 3+3 -----4 sum = 6+4

In [6]:
l = ['apples','banana','kiwi','chiku']
for x in l:
    print(x)
    print(x)
    print(x)
print(x)
print(x)
# i1 - x = apples -- apples apples
# i2 - x = banana -- banana banana
# i3 - x = kiwi -- kiwi
# i4 - x = chiku -- chiku
# outside of loop x = chiku
len(l)

apples
apples
apples
banana
banana
banana
kiwi
kiwi
kiwi
chiku
chiku
chiku
chiku
chiku

4

In [ ]:
#checking for a particular value in a list using for loop
fruits = ['apples','banana','kiwi','chiku','mango']

for i in fruits:
    if i == 'kiwi':
        print('kiwi is present in the list')
    else:
        print('kiwi not found')

# i1 --  i = apples == 'kiwi'

In [ ]:
l = [2,3,4,7,22,44,12,33,556,77]
for i in l:
    if i < 44:
        print('-----------')
        print('ss')
        
    else:
        print(i)
# i1  i = 2  condition true

In [ ]:
for x in range(10):
    x =x-1
    print(x)   

print(x)

# i1 - x = 0 -- -1
# i2 - x = 1 --- 0
#i3 --- x = 2 --- 1.................8

In [ ]:
# x = 0 --0  2nd x = 1 1
for i in range(5):
    print('x')
    continue
    print('y')

In [ ]:
for x in range(10,0,-1):
    print(x)
# 10 , 9........1

In [ ]:
for x in range(1,10,2):
    if x == 7:
        print(x)
        print('ss')
        break
        print('refef')
       
    else:
        print('finished')
print('z')

In [ ]:
#while loops  # initialisation  #condition #updation

In [ ]:
for i in range(5):
    pass
    print(i)

In [ ]:
l = [1,2,34,5,6,67,8,8]

In [ ]:
for i in l:
    if i<34:
        print(i)

In [ ]:
i = 1 #initialisation 
while i<=10:  #condition
    print(i)
    i = i + 1   #upation
       
print(i)

In [ ]:
i = 1
while i <10:
    
    if i == 3:
        print(i)
        break
    i = i+1
     
print(i)

In [ ]:
x = 10

In [ ]:
i = 1
while i<10:
    print(i)
    i = i+1

In [ ]:
counter = 0
while counter <10:
    print('il')
    counter = counter +1   
print(counter)

In [ ]:
x = 8
y = 10
z = 'apple'

if x == y or z == 'apple':
    print(x+y)
    print(str(x)+z)
    if x <y :
        print('xxxxxx')
        if x ==8:
            print('8888')
if x>y :
    print('x is less')
elif x < y:
    print('elif body')
else:
    print('else body')

In [ ]:
# try to filter out the data of a certain data type from a list and create a new list with that data

In [ ]:
# break pass and continue statements for flow control
class A(B):
    pass
class B:
    x= 10 
    y = 2

In [ ]:
l = [4,'sumit',5,6,6,4,5,'sumit']
for i in l:
    if i == 6:
        break
    print(i)
print('loop break')

In [ ]:
name = 'sumit kumar'
for i in name:
    if i == 'k':
        
        continue
       
                        # try  changing it with pass and see what happens
    print(i)
       
 
    # continue statement take the flow control back to the loop and not read lines written after continue
    # pass statement used for future reference

In [ ]:
l =[1,2,3]

In [ ]:
x1 = 10
x2 = ['sumit',1,2]
x2.

In [ ]:
l = ['sumit',32,3,9]

In [ ]:
for i in range(len(l)):
    print(l[i])

In [ ]:
l = ['sumit',12,3,'anil','mohit']
for i in range(len(l)):   
    print(l[i])

In [ ]:
# taking input from a user  #perform type casting to change data type
a = float(input('it always converts the value in string:enter a number'))
print(a)
type(a)

In [ ]:
x = ['sumit','aryan','ravi']
e = []
for i in x:
    e.append(i.upper())
e

In [ ]:
# converting a string to upper case and lower case and checking if string is upper or lower case
name = input('enter your name:')
print(name.upper())

In [ ]:
#isalpha and isnumeric
a = 'sumit1'
print(a.isalpha())
a.isnumeric()

In [ ]:
# split function to separate words in a string and create a list of those words
name = 'sumit kumar is holding,an,umbrella'
a = name.split(sep = 'um')
print(type(a))
print(a)

In [1]:
# format function
a = f' my name is {} and my age is {} '
a.format('sumit',28)

SyntaxError: f-string: empty expression not allowed (348962050.py, line 2)

In [ ]:
name = input()
h = input()
print(f'my name is {name} and my height is {h}')

In [ ]:
#area of a rectagle
l = input('enter the length of rectangle: ')
b = int(input('enter the breadth of rectangle: '))
area = l*b
print(area)

In [ ]:
def cube(x):
    print(x**3)
cube(2)

**functions**
they are of two types

1.built in functions - they already exist in python like print(),type()

2.user defined - which are defined by the user like def area()

In [ ]:
def test():
    print('hello')
    print('hi')

In [ ]:
test()

In [ ]:
def area_of_circle(r):
    area = 3.14 * r * r
    print(area)
    return (area)
    print('j')
a1 = area_of_circle(2)  
a2 = area_of_circle(3)
a3 = area_of_circle(4) 
print(a1)
type(a1)

In [ ]:
x = [1,2,3,4,8,9,7]

In [ ]:
x1 , x2 , x3,x4,*x5   = x

In [ ]:
y = 1,2,3,4,5

In [ ]:
a  = 10
b = print( a * 10)
c = b + 10
print(c)
print(b)
print(type(b))

In [ ]:
a = 'sumit',1,2,
a1,a2,a3 = a
a1
print(a1,a2)

In [ ]:
def area_of_rect(l,b):  # l and b are the arguments of the function 
    print('ji')
    return b,l

In [ ]:
area1,area2  = area_of_rect(3,9)  # this is function call simply by writing the function name and providing it required arguments
print(area2,area1)
#if return statement is not mentioned the function will return none by default

In [ ]:
#arguments information can be send through a function with the help of arguments
def my_function(fname,lname):
    print('hi')

    print('hdhdhdh')
    return 9 * 0


    
f = my_function(7,6)
print(f)
type(f)

In [ ]:
def area_of_rectangle(length,breadth):
    print('hi')
    return length * breadth

area_of_rectangle(4,4)

f = area_of_rectangle(3,3)
print(f)
f = area_of_rectangle(2,2)
print(f)

In [ ]:
def test(x,y,z):
    print(' B R')
    return x-y,x+y,x**z
    print(' A R')

r1,r2,r3= test(1,2,3)
print(r1)
type(r1)

In [ ]:
x = 1,2,3,4

In [ ]:
x = ['a','b','c','d']

In [ ]:
x1,x2,x3,x4= x

In [ ]:
x1

In [ ]:
def square():
    return 10
square(2)

In [ ]:

def area_square():
    print('kumar')
    
    print('sumit')
    return 'hi my name is sumit' + 's'
    print('ll')


area_square() 
f = area_square()         # 
print(type(f))                 
print(f)
#area_square()

In [ ]:
def my_function(  age= 1,name = 5):
    print( 'my name is ' +str(name) +' and my age is ' + str(age))
    return age
    

f = my_function(6)
print(f)

###### str(8) + 'd'

In [ ]:
x = 1
print('kumar')
print(x %2 )

In [ ]:
def my(x):
    print( x**x)


my(1)
my(2) 
my(3) 
f = my(5)
print(f)

In [ ]:
def sum_list(l):
    sum = 0
    for i in l:
        sum = sum + i
    return sum
sum_list([1,2,3,4])

In [ ]:
def test1(start,end):
    e = []
    for i in range(start,end):
        e.append(i)
    return e
a = test1(0,10)
print(a)

In [ ]:
def reverse_no(str1):
    rstr=''
    index=len(str1)
    while(index>0):
        rstr = rstr+str1[index-1]
        index = index - 1
    return rstr
        

f=reverse_no("sumit")
print(f)
reverse_no('shailendra')

In [ ]:
# passing a list in a  function 
def my_function(fruits):
    for x in fruits:
        print(x)
    return x
    

f = [1,2,4,5,7,8,9]

g = my_function(f)   #function call
print('f is ',g)

In [ ]:
next(g)

def my_function(**kid):
    print('last name is ' + kid['lname'] + kid['fname'])
my_function(fname = 'sumit',lname = 'kumar' ,age = 30)

In [ ]:
# tuple data type ---- collection of ordered data but it is immutable(unchangeable),allows duplicates
t = ('kiwi', 'banana', 'apples')

In [ ]:
type(t[1])

In [ ]:
type(t[0:1])

In [ ]:
len(t)

In [ ]:
t[::-1]

In [ ]:
t.append(3)

In [ ]:
l =[]
l.append(2)
l

In [ ]:
t = ('apples','banana','kiwi')
l = ('apples','banana','kiwi')

In [ ]:
if 'kiwi' in t:
    print('yes')
else:
    print('no')

In [ ]:
l[0]= 'mango'
l

In [ ]:
t[0] = 'mango'

In [ ]:
l = ['s','d',1,2,3]
l[0] = 'a'

In [ ]:
l

In [ ]:

l = ['apples','banana','kiwi']
l.pop()
l

In [ ]:
t

In [ ]:
t[0] = 'mango'

In [ ]:
l = [3,4,3,8]

In [ ]:
l.clear()

In [ ]:
l.append(2)

In [ ]:
l = [12,2,3]
print(l.sort())

In [ ]:
l.sort()

In [ ]:
l

# tuple

In [ ]:
#ordered , immutable

In [ ]:
y = ('sumit','aditya ','rohan',1,2,3,2,2,2)

In [ ]:
type(y)

In [ ]:
y[0]

In [ ]:
y

In [ ]:
(1,2,3) * 4

In [ ]:
y[0] = 'rahul'

In [ ]:
y.index()

In [ ]:
l1 = ['sumit','aditya','rohan']
l2 = ['kumar','jha','das']
#out--- ['sumit kumar','aditya jha','rohan das']



list(map(lambda x,y : x+ ' ' + y ,l1,l2))

In [ ]:
#looping through  a tuple

In [ ]:
t = ('apples','banana','kiwi','chiku','chiku')
for x in t:
    print(x)

In [ ]:
for i in range(len(t)):     # range(4)
    print(t[i])

In [ ]:
# range(10)  ---- 0 1 2 3 4  5 6 7 8 9
#range(4)  ----- 0 1 2 3 
# i = 0   t[0]   --- apples
#i = 1    t[1]   ---- banana

In [ ]:
i = 0 
while i < len(t):   # 0<4
    print(t[i])
    i = i+1

In [ ]:
t1 = ('apples','banana','kiwi','chiku')
t2 = (100,50,300,70)
t3 = t1+t2

t3

In [ ]:
c = (1,)
type(c)

In [ ]:
t1 * 3

In [ ]:
l = [1,2,3,2,2,2]

In [ ]:
#tuple methods
#count() and #index()

In [ ]:
t1 = ('apples','banana','apples','apples','kiwi','chiku')

In [ ]:
print(t1.index('apples',1))

In [ ]:
t1.count('apples')

In [ ]:
#slicing 
t[::-1]

In [ ]:
l = ['sumit','dant','kumar']
e = []
for i in l:
    e.append(i.upper())
e

**SET**

set is an unordered,unchangable and do not allow duplicates

In [ ]:
s1 = {1,2,22,2,5,7,9,0}
print(s1)

In [ ]:
print(set(('sumit',3,2,2,2,2,2)))

In [ ]:
x = (7,3,4,6,6,7,8)
x1,x2,*x3,x4  = x

In [ ]:
x3

In [ ]:
s = set(('apples','banana','kiwi',2,4.11,1,'chiku'))
s

In [ ]:
l = list((1,2,3))

In [ ]:
l

In [ ]:
l = tuple(('sumit','aditya',2))

In [ ]:
list((1,2,3))

In [ ]:
#accessing items of a set
s= {1,24}

s[0]

In [ ]:
for x in s:
    print(x)

In [ ]:
s = {1, 2, 4.11, 'kiwi', 'orange', 'banana', 'chiku', 'apples'}

In [ ]:
#unchangable immutable
#adding a data in  a set 
s
s.add('12')
print(s)

In [ ]:
s.add('orange')

In [ ]:
del s

print(s)

In [ ]:
#update  [] () '' {}
t1 = {'apples','banana','kiwi'}
t2 = ['chiku','orange','apples','kiwi']
t3 = t1.update(t2)
t3
t1

In [ ]:
# remove 
t1

In [ ]:
t1.remove('apples')
t1

In [ ]:
t1.discard('chiku')

In [ ]:
t1.discard('chiku')

In [ ]:
{1,2,3} + [1,6,7]

In [ ]:

t1 = {'apples','banana','kiwi'}
x = t1.pop()
print(x)
t1

In [ ]:
l = ['sumit',1,2]
l.append(4)
l

In [ ]:
def rstre(str1):   #sumit
    rstr = ''
    i = len(str1)-1  # i = 5
    while i>=0:                             # i = 5 # '' + 't' rstr = 't'
                                           # i = 4 # 't' + 'i'   = 'ti'
                                            
        rstr = rstr + str1[i]
        i = i-1
    return rstr
rstre('gavnish')

In [ ]:
l = [1,22,4,78,33,4,5,6]


def even_no(x):
    nl = []
    for i in x:
        if i%2 == 0:
            nl.append(i)
    return nl
e = even_no(l)
e

define a function listmultiply() - which gives out put as
l = [-1,2,3,4,5]
expected output : 120
multilies all the elements of the list

squareoflist()
l = [3,4,2,1]
output : n = [9,16,4,1]


def squareoflist():

In [ ]:
def squareoflist(x):
    e= ''
    for i in x:                # [3,4]
        e.append(i**2)
    return e
result = squareoflist([3,2,1,3,5,6])
result

In [ ]:
def listmultiply(x):    # x = []
    total = 1
    for i in x:                   #  i = 1 t = 1 # t = 2 # t = 6 # 2 *6 t = 12
        total = total* i
    return total
result = listmultiply([1,-2,2,233,2])   # calling
print(result)

In [ ]:
#lambda function anonymous function

In [ ]:
def sum_i(x,y):
    return x+y 
sum_i(1,2)

In [ ]:
f  = lambda x,y:x+y

In [ ]:
f(3,2)

In [ ]:
f = lambda x:x**3

In [ ]:
f(4)

In [ ]:
def square(x , y ):
    return x+y

In [ ]:
# lamda arguments: statement
a = lambda x,y:x+y
a(3,3)

In [ ]:
a = lambda x:x**x
a(3)

In [ ]:
a = lambda x,y,z : x+str(y) +str(z)*10
a('sumit',2,4)

In [ ]:
 '10' * 4

In [ ]:
'@'*10

In [ ]:
def square(x):   
    return lambda a: a*x
f = square(4)   
r = f(10)
print(r)
print(f)

In [ ]:
f = square(4)     # f = lambda a:a*x
f(12)                  # f(12)

In [ ]:
f   = lambda r: 3.14*r*r
f(3)

In [ ]:
s1 = {1,2,4}
s2 = s1

In [ ]:
s2

In [ ]:
s1.add(6)

In [ ]:
s2

In [ ]:
s1 = {2,1,4}
s2 = s1.copy()

In [ ]:
s1.add(8)

In [ ]:
print(s2)
print(s1)

In [ ]:
a = set()
type(a)

In [ ]:
def exp(x,y,z):
    return x+y,x-y,x+z
a , b ,c   = exp(0,3,2)
c

In [ ]:
cars = {'cars':['maruti','honda'] ,
        'model':2018, 
        'price':2000}

In [ ]:
print(type(cars))

In [ ]:
cars['model']

In [ ]:
print(cars)

In [ ]:
#dictionary
dict1 = {'name':['sumit','kohli','sachin'],
         'age':30,
         'hobbies':['singing','dancing','cricket']
        }
dict1
#dict1dict1 = {'name':['sumit','kohli','sachin'],'age':30,'hobbies':['singing','dancing','cricket']}
print(dict1)

In [ ]:
#accessing the dictionary values
dict1['name'].pop()

In [ ]:
dict1

In [ ]:
#returns a list of all the keys in dictionary
x = dict1.keys()
print(x)

In [ ]:
dict1['name'] = 'anil'

In [ ]:
dict1

In [ ]:
y = dict1.values()
y

In [ ]:
dict1['name'] = 1111

In [ ]:
dict1

In [ ]:
dict1.items()

In [ ]:
dict1.values()

In [ ]:
if 'kohli' in dict1.values():
    print('ok')
else:
    print('bye')

In [ ]:
dict1['name'] = ['sumit','kohli']

In [ ]:
dict1.update({'name':'aditya'})

In [ ]:
dict1

In [ ]:
#pop 
l = [2,2,3,4,'sumit',5]
l.pop()

In [ ]:
-400/16.9

In [ ]:
l.pop()

In [ ]:
l.append('sumit')

In [ ]:
l.pop()
l

In [ ]:
l.insert(2,'anil')

In [ ]:
l

In [ ]:
dict1

In [ ]:
dict1['name'].pop(1)

In [ ]:
dict2 = dict1.fromkeys(['sumit','aditya'])

In [ ]:
dict2

In [ ]:
dict1['name'] = 'aditya'
dict1

In [ ]:
dict1.clear()

In [ ]:
dict1

In [ ]:
dict1.items()

In [ ]:
#pop item
dict1.popitem()

In [ ]:
dict1

In [ ]:
dict1.clear()

In [ ]:
dict1

In [ ]:
dict1

In [ ]:
dict1.pop()

In [ ]:
dict1

In [ ]:
# copy

In [ ]:
dict2 = dict1.copy()

In [ ]:
dict2

In [ ]:
dict1['name'] = 'aditya'

In [ ]:
dict1

In [ ]:
dict2

In [ ]:
dict3 = dict2

In [ ]:
dict2['name'] = 'sumit'

In [ ]:
dict2

In [ ]:
dict3

In [ ]:
dict1

In [ ]:
for i in dict1.values():
    print(dict1[i])

In [ ]:
dict1.values()

In [ ]:
next(a)

In [ ]:
next(x)
type(x)

In [ ]:
x = iter('10.000')

In [ ]:
name = 'sumit'
rstr = ''
index = len(name) - 1
for i in range (len(name)):
    rstr = rstr + name[index] 
    index = index - 1
print(rstr)

**ITERATOR**

In [ ]:
fruits = ['apple','banana','kiwi']  # it is iterable but not iterator
#next(fruits)   
type(fruits)

In [ ]:
f = iter(fruits)

In [ ]:
x = iter('sumit')

In [ ]:
type(x)

In [ ]:
x = 'sumit'
next(x)

In [ ]:
i = iter(x)

In [ ]:
x = iter('sumit')

In [ ]:
next(x)

In [ ]:
i = iter(x)

In [ ]:
for i in 10,55:
    print(i)

In [ ]:
x = [10,2,2,1]
y = iter(x)
type(y)

In [ ]:
next(y)

 c  = iter(x)
type(c)

In [ ]:
t = 1,2,3,4,4,5,6,8,9,6,99
t1,*t2,t3,t4 = t
t3

In [ ]:
next(i)

In [ ]:
iter(10)

In [ ]:
for i in range(10):
    print(i)

In [ ]:
next(10)

In [ ]:
a = iter('sumit')
type(a)

In [ ]:
next(a)

In [ ]:
next('sumit')

In [ ]:
# prime numbers                [2.......num-1]
def is_prime(num):            # i = 2.....6
    for i in range(2,num):    # 1st iter : i= 2 ----  
                              # iter 2 : i = 3 ---
        if num%i == 0:
            print('not prime')
            
    else:
        print('prime')
    
    
is_prime(4)

In [ ]:
def test():
    print('hi')
    return 5
    print('sumit')
x = test()

In [ ]:
x = 10
y = 11
z  = print(x+y)
print(type(z))

In [ ]:
#generator function for the cube of numbers 
def gencubes(n):
    for num in range (n):
             
            yield num**3        # 0 1 8 27
f = gencubes(10)
print(f)

In [ ]:
x = iter('sumit')
next(x)

In [ ]:
next(x)

In [ ]:
#any function that contains a yield keyword is generator
for i in range(10):
    print(next(f))

In [ ]:
next(f)

In [ ]:
def gencubes(n):
    for num in range (n):
          return num**3            # 0 1 8 27
f = gencubes(4)
print(f)

In [ ]:
next(f)

In [ ]:
a = iter(gencubes(4))

In [ ]:
 z =  iter(range(10))

In [ ]:
next(z)
type(z)

In [ ]:
next(iter('sumit'))

In [ ]:
a  = iter(range(10))

In [ ]:
next(a)

In [ ]:
range(10)

In [ ]:
for i in 'sumit':
    print(i)

In [ ]:
for i in gencubes(4):
    print(i)                            # for loop takes only iterable objects

In [ ]:
def test():
    return 1 , 3**5 , 2+ 8
x,y,z =test()

In [ ]:
z

In [ ]:
x = 'sumit'

In [ ]:
import numpy as np
np.exp(-3)

In [ ]:
0.049787068367863944
​
z = iter(x)

In [ ]:
z = iter(x)

In [ ]:
type(z)

In [ ]:
next(z)

In [ ]:
for i in 10,11:
    print(i)

In [ ]:
x = (10,11)

In [ ]:
type(x)

In [ ]:

# map() is a built in function used for mapping

import math

In [ ]:
((np.exp(-0.71)) * (0.71)**3) / math.factorial(3) + ((np.exp(-0.71)) * (0.71)**4) / math.factorial(4) +((np.exp(-0.71)) * (0.71)**5) / math.factorial(5) + ((np.exp(-0.71)) * (0.71)**6) / math.factorial(6)

In [ ]:
l = ['sumit','kumar']
e = []

# map ()

In [ ]:
l = ['sumit','aditya','rohan']
e = []
for i in l:
    e.append(i.upper())
print(e)

In [ ]:
def convert(n):
    return n.upper()

In [ ]:
l = ['sumit','aditYA','kumar']
list(map(convert,l))

In [ ]:
list(map(lambda n:n.upper(),'sumity'))

In [ ]:
list(map(lambda n:n[0] if (n=='aditya') else n,['sumit','aditya','kumar']))

In [ ]:
def farhenheit(T):
    return (((T+32 * 5)) /9)
def celsius(T):
    return (((T-32) * 5) / 9 )


temp = [0,22.5,40,100]   # temp in celcius

In [ ]:
temp1 = list(map(farhenheit,temp))
temp1

In [ ]:
list(map(celsius,temp1))

In [ ]:
a   # farhenheit

In [ ]:
c = []
for i in a:
    c.append(celsius(i))
c

In [ ]:
# now lets see using  map()

In [ ]:
a = map(farhenheit,temp)
b = list(a)
b

In [ ]:
list(map(celsius,b))

In [ ]:
def gen4(n):
    for i in range(n):
        yield i**4

In [ ]:
a = gen4(10)

In [ ]:
next(gen4(10))

In [ ]:
next(a)

In [ ]:
b = iter(a)

In [ ]:
b

In [ ]:
l = ['appl','sumit','bindra']
e = []
for i in l:
    
    e.append(i[0])
e

In [ ]:
map()

In [ ]:
def test(str1):
    return str1[0]

In [ ]:
list(map(lambda x:x[0],['sumit','dharmendra','anil']))

In [ ]:
def test(m,n):
    return m+n

In [ ]:
a = [1,2,3]
b = [5,6,7]
c = [9,10,11]
list(map(lambda m,n:m+n,a,b))

 f = lambda x,y:x+y
f([1,2,3],[1,2,3])

In [ ]:
# now using map with lambda function

list(map(lambda m,n:m+n,a,b))

In [ ]:
a = ['sumit','aditya','sagar']
list(map(lambda x:len(x),a))

In [ ]:
a = ['sumit','aditya','sagar']
e=[]
for i in a:
    e.append(i.upper())
e

In [ ]:
a = [1,2,3,4,5]

In [ ]:
def test(i):
    return i**3

In [ ]:
list(map(lambda i:i**3,a))

In [ ]:
def square(b):
    return b*b

In [ ]:
b = list(map(square,a))

In [ ]:

list(map(lambda x:x*x, a))

In [ ]:
#reduce ()
from functools import reduce
lst = [4,1,4,3,7]
reduce(lambda x,y:x+y,lst)

# find the sum of a list 
# x = 47 , y =11 ........x = 47+11 ,y = 42

In [ ]:
sum = 0
for i in lst:
    sum = sum+ i
    print(sum)
print(sum)

In [ ]:
47+11+42+13+78

In [ ]:
#  finding the maximum value  of a sequence

In [ ]:
lst = [47,11,666,42,13,78]
reduce(lambda a,b:a if (a>b) else b,lst)

# 1st time 47>11 is true 47 now value of a = 47
# 2nd time 47>42 is true 47 now value of a = 47 again

In [ ]:
b = lambda a,b:a if (a>b) else b
map(lam,lst)

In [ ]:
[18,23,22,10,9,7,33]

In [ ]:
1>0 and 2>0

# map()

In [ ]:
#filter()
list(filter(lambda x:x[0]=='s' and x[-1]=='p',['soap','sup','sumit','paris']))

In [ ]:
list(filter(lambda x:x>10,[110,14,2,3,18]))

In [ ]:
list(map(lambda x,y:x+ ' ' + y,['sumit','aditya','Sachin'],['kumar','singh','Tendulkar']))

In [ ]:
def even_check(num):
    
        return num%2 == 0

In [ ]:
#lst = range(10)   #[0,1,2,3......19]
list(filter(even_check,[0,1,2,3,4,5,6,7,8,9]))

In [ ]:
#try map to find data based on condition
list(filter(lambda x: x%2 ==0,[0,1,2,3,4,5,6,7,8,9] ))

In [ ]:
x = 's'
i == x.upper():
    upper = upper +  i

In [ ]:
list(filter(lambda x:x%2==1,lst))

In [ ]:
l1 = ['sumit','aditya','Sachin']
for i in range(len(l1)):
    print(l1[i],end = '')

In [ ]:
reduce(lambda x:,['s','S','d','d','U'],)

In [ ]:
#scope of  a variable

In [ ]:
list(filter(lambda x:x[0] == 's' or x[-1]=='p',))

local scope and global scope

In [ ]:
# local scope

In [ ]:
x = 11         #global variable
def square():
    global x
    x = 10
    print(x)
               # local variable scope is limited to function

print(x)
print(name)

In [ ]:
['soap','sumit','sup','paris']

In [ ]:
'sup' == 'sup '

In [ ]:
x = 10
def square(): 
    
    y = 11
    print('hi')
    print(y)
square()

print(x)

In [ ]:
def square():
    global y
    y = 10
square()
print(y)

In [ ]:
def square():
    global r1
    r1 = 10
print(r1)

In [ ]:
def square():
    global x1
    x1 = 10
def square1():
    x1 = 16
square()
square1()
print(x1)

In [ ]:
s1 = 10
def s11():
    
    s1 = 11
def s22():
    s1 = 1
    global s2
    s2 = 10
s11()
print(s1)
print(s2)

In [ ]:
import datetime as dt # this a alias name for datetime
dir(dt)

In [ ]:
x = dt.datetime.now()
print(x)

In [ ]:
x = dt.datetime(1997,1,16)
print(x)

In [ ]:
#retrieving year
x.strftime('%Y')

In [ ]:
x = dt.datetime.now() 
print(x)

In [ ]:
x.strftime('%a')

In [ ]:
x.strftime('%A')

In [ ]:
x.strftime('%w')   # weekday as a number

In [ ]:
x.strftime('%d')   # day of month

In [ ]:
x.strftime('%b')   # name of month

In [ ]:
x.strftime('%B')

In [ ]:
x.strftime('%I')   # current hour

In [ ]:
x.strftime('%y')  # current year short version

In [ ]:
x.strftime('%Y')

In [ ]:
# %f - microsecond ,%S for second

In [ ]:
x.strftime('%f')

In [ ]:
dir(dt)

In [ ]:
help(math.sqrt)

In [ ]:
# math functions 
import math
dir(math)

In [ ]:

x = [22,33,110,12,33]
y = (1,2,3,4,5)

In [ ]:
help(math.sqrt)

In [ ]:
x.strftime('%x')

In [ ]:
x.strftime('%D')

In [ ]:
# returns minimum value
min_1 = min(x)

In [ ]:
# max()
max(x)

In [ ]:
# abs() gives you th absolute +ve value of the variable
x = -10.888
abs(x)

In [ ]:
y = abs(-10)
print(abs(y))
print(y)

In [ ]:
# power ()
p = pow(2,5)
p

In [ ]:
import math
dir(math)

In [ ]:
y = 100
x = math.sqrt(y)
x

In [ ]:
# ceil()- takes upper value of integer and floor() - takes lower value of ingteger
x = 3.1
y = math.ceil(x)
y

In [ ]:
x = 2.9
y = math.floor(x)
y

In [ ]:
math.log(10000)

In [ ]:
1/4

In [ ]:
math.exp(3)

In [ ]:
import numpy as np

In [ ]:
np.median([1,2,3,1,1,1])

In [ ]:
np.mean([1,2,3,1,1,1])

In [ ]:
from scipy import stats

In [ ]:
stats.mode([1,2,3,1,1,1])

In [ ]:
def test(x):
    
    if x[0]== 's' and x[-1]=='p':
        return x

In [ ]:
a = ['soap','sharp','shy','silent','summer','suuuup']
b = list(map(test,a))

In [ ]:
b.pop(2)

In [ ]:
b.pop(2)

In [ ]:
import numpy as np
d = np.mat('1 2 3;2 3 4; 3 4 5')
np.asarray(d)

In [ ]:
def test():

In [ ]:
map(test,[1,2,3,2,3,4,3,4,5])

In [ ]:
# working with files - file handling

In [ ]:
pwd() # present working directory

In [ ]:
file = open('sumit11.txt','r')

In [ ]:
for i in file:
    print(i)

In [ ]:
file.read()

In [ ]:
file.seek(0)

In [ ]:
file.readlines(2)

In [ ]:
file.readlines()

In [ ]:
file.seek(0)

In [ ]:
counter = 0
for i in file.readlines():
    counter = counter +1
    if counter % 2 ==0:
        print (i)

In [ ]:
0%2

In [ ]:
file.read()

In [ ]:
print(file.read())
file.seek(0)

In [ ]:
# read() for reading the file content
#print(file.read())
file.read()

In [ ]:
# reading speicied number of characters from a file
print(file.read(20))

In [ ]:
file.read()

In [ ]:
file.seek(0)

In [ ]:
# it reads single line
list(filter(lambda x:x=='\n',file.readline()))

In [ ]:
for i in file.read():
    print(file.readline())

In [ ]:
file.seek(0)

In [ ]:
file.readline(2)

In [ ]:
file.readline()

In [ ]:
file = open('')

In [ ]:
for i in file:
    print(i)

In [ ]:
file.close()

In [ ]:
file.read()

In [ ]:
file.write('and sagar is laerning python')

In [ ]:
file = open(r'C:\Users\virug\Desktop\sumit.txt')

In [ ]:
print(file.read())

In [ ]:
file.close()

In [ ]:
d = open(r'C:\Users\virug\Desktop\sumit11.txt','a')

In [ ]:
d.write('i am sumit  ')

In [ ]:
d.close()

In [ ]:
file = open('teach.txt','a+')

In [ ]:
file.write('hi my name is sumit')

In [ ]:
file.close()

In [ ]:
file = open('teach.txt','a+')

In [ ]:
file.read()

In [ ]:
file.seek(0)

In [ ]:
file.read()

In [ ]:
file = open('teach.txt','w')

In [ ]:
file.seekable()

In [ ]:
file.seek(0)

In [ ]:
file.write('my name')

In [ ]:
file.seek(0)

In [ ]:
file.read()

In [ ]:
file = open('sumit11.txt', 'w')

In [ ]:
file.read()

In [ ]:
file.seek(0)

In [ ]:
for i in file:
    print(i)

In [ ]:
file.write('hi how are you')

In [ ]:
file.read()

In [ ]:
file.write('india')

In [ ]:
file.seek(0)

In [ ]:
file.read()

In [ ]:
file.close()

In [ ]:
f =

In [ ]:
file.write('pakistan')

In [ ]:
file.close()

In [ ]:
file.write('india world cup')

In [ ]:
file.seekable

In [ ]:
file.close()

In [ ]:
file = open('sumit11.txt','w+')

In [ ]:
file.write('australia')

In [ ]:
file.write('usa')

In [ ]:
file.write('england')

In [ ]:
file.close()

In [ ]:
file = open('sumit11.txt','w')

In [ ]:
file.write('sd')

In [ ]:
file.write('df')

In [ ]:
file.close()

In [ ]:
file = open('sumit11.txt','a')

In [ ]:
file.write('australi')

In [ ]:
file.write('india')

In [ ]:
file.close()

In [ ]:
file = open('dharmendra','w')

In [ ]:
file = open('dharmendra1','a')

In [ ]:
file = open('dh.txt')

In [ ]:
10/0

In [ ]:
try:
    a = int(input('enter  value of a:'))
    b = int(input('enter value of b:'))
    c = a/b
except:
    print('error')

In [ ]:
file = open('s.txt')

In [ ]:
int(input())

In [ ]:
try:
     file = open('s.txt')
    
except:
    print('file does not exist')

In [ ]:
try :
    a = int(input())
    b = int(input())
    c = a + b
except:
    print('exception block')
else:
    print('else')

In [ ]:
while True:
    try :
        a = int(input())
        b = int(input())
        c = a + b
    except:
        print('please enter again!!!')
        continue
    else:
        print('else')
        break

In [ ]:
try:
    pass
except:
    pass
else:
    pass
finally:

In [ ]:
9/0

In [ ]:
's' +9

In [ ]:
2 + 's'

In [ ]:
try :
    a = (input())
    b = (input())
    c = a/b


except ValueError:
    print(' please provide correct value')
except ZeroDivisionError:
    print('divided by zero')
except TypeError:
    print(' data type error')
except Exception:
    print('exception')

In [ ]:
try :
    a = int(input())
    b = int(input())
    c = a/b

except ZeroDivisionError:
    print(' please provide correct value')
except ZeroDivisionError:
    print(' please provide correct value1')
else:
    print('else block')
finally:
    print('finally block')

In [ ]:
try:
    a = 10


else:
    print('s')
finally:
    x = 1